:root {
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  margin: 0px;
  background: var(--LightGray);
}

.container {
  margin: 60px 16px 30px 16px;
  border-radius: 8px;
  box-shadow: 3px 3px 12px gray;
}

.header {
  padding: 20px;
  background: white;
  border-radius: 8px 8px 0px 0px; /*en sentido del reloj*/
}

.header h1 {
  color: var(--Cyan);
}
.header h3 {
  color: var(--BrightYellow);
}
.header p {
  color: var(--GrayishBlue);
}

.caja-left {
  padding: 20px;
  background: var(--Cyan);
  color: var(--LightGray);
}

.caja-left button {
  width: 100%;
  padding: 16px;
  background: var(--BrightYellow);
  color: white;
  font-size: 16px;
  border: 0px;
  border-radius: 5px;
  box-shadow: 3px 3px 12px grey;
}

.precio {
  display: flex;
  align-items: center;
  height: 40px;
}
.precio p {
  color: var(--GrayishBlue);
  margin-left: 10px;
}

.caja-right {
  background: hsl(179, 47%, 52%);
  padding: 20px;
  color: var(--LightGray);
  border-radius: 0px 0px 8px 8px;
}

/*VERSION DESKTOP*/
@media screen and (min-width: 768px) {
  .container {
    margin: 0px 100px 0px 100px;
  }
  .todo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .caja-right {
    border-radius: 0px 0px 8px 0px;
  }
  .caja-left {
    border-radius: 0px 0px 0px 8px;
  }
}
